
AlexTest.mobileprovision

JogIt.xcodeproj/project.xcworkspace/xcuserdata/geoffmacd.xcuserdatad/UserInterfaceState.xcuserstate

JogIt.xcodeproj/xcuserdata/geoffmacd.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Screenshots/

Competition/

Mockups/

Fullsize Graphics/

Graphics/
appirater/.gitignore
