
AlexTest.mobileprovision

Competition/endomondo/Screenshot 2013.03.26 20.35.24.png

Competition/endomondo/Screenshot 2013.03.26 20.35.28.png

Competition/endomondo/Screenshot 2013.03.26 20.35.30.png

Competition/endomondo/Screenshot 2013.03.26 20.35.35.png

Competition/endomondo/Screenshot 2013.03.26 20.35.39.png

Competition/endomondo/Screenshot 2013.03.26 20.41.04.png

Competition/endomondo/Screenshot 2013.03.26 20.41.07.png

Competition/runkeeper/Screenshot 2013.03.26 21.00.18.png

Competition/screens/Screenshot 2013.02.23 01.54.01.png

Fullsize Graphics/RightFillTriangleIcon.pxm

Description/iphone5/iOS Simulator Screen shot 2013-05-06 2.13.03 PM.png

Description/iphone5/iOS Simulator Screen shot 2013-05-06 1.43.31 PM.png

Description/iphone5/iOS Simulator Screen shot 2013-05-06 1.09.36 PM.png

Description/iphone4/iOS Simulator Screen shot 2013-05-20 12.51.27 AM.png

Description/iphone5/iOS Simulator Screen shot 2013-05-06 1.09.47 PM.png

Description/iphone4/iOS Simulator Screen shot 2013-05-20 12.26.54 AM.png

Competition/screens/Screenshot 2013.03.26 20.36.20.png

Competition/screens/Screenshot 2013.03.12 19.11.25.png

Description/iphone4/iOS Simulator Screen shot 2013-05-06 4.05.12 PM.png


Description/iphone4/iOS Simulator Screen shot 2013-05-06 4.05.46 PM.png

Description/iphone4/iOS Simulator Screen shot 2013-05-06 4.06.15 PM.png

Description/iphone4/iOS Simulator Screen shot 2013-05-06 4.07.39 PM.png

Description/iphone4/iOS Simulator Screen shot 2013-05-06 4.16.20 PM.png

Description/iphone5/iOS Simulator Screen shot 2013-05-06 3.44.25 PM.png

Description/iphone5/iOS Simulator Screen shot 2013-05-20 12.39.20 AM.png

Description/iphone5/iOS Simulator Screen shot 2013-05-20 12.51.10 AM.png

JogIt.xcodeproj/project.xcworkspace/xcuserdata/geoffmacd.xcuserdatad/UserInterfaceState.xcuserstate

JogIt.xcodeproj/xcuserdata/geoffmacd.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Screenshots/Data.sqlite

Screenshots/Data.sqlite 2

Screenshots/Data.sqlite 3

Screenshots/Data.sqlite 4

Screenshots/Data.sqlite 5

Screenshots/Data.sqlite 6

Screenshots/Data.sqlite 7

Screenshots/Data.sqlite 8

Screenshots/May 19/iOS Simulator Screen shot 2013-05-20 12.26.45 AM.png

Screenshots/May 19/iOS Simulator Screen shot 2013-05-20 12.26.54 AM.png

Screenshots/

Competition/